@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');
      .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
      }
        p, p1 {
            font-family: 'Belanosima', sans-serif;
            font-size: 100%;
            text-align: center;
        }
      h1 {
        font-family: 'Roboto Mono', monospace;
        font-size: 300%;
        text-align: center;
      }
      button {
         font-family: 'Belanosima', sans-serif;
        text-align: center;
      }
      .offline-message {
         font-size: 24px;
        text-align: center;
        margin-top: 200px;
      }
.h2 {
  font-family: 'Inconsolata', monospace;
}
.p1m {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 20px;
}
.button2 {
  font-family: 'Titillium Web', sans-serif;
  cursor: pointer;
  border-radius: 8px; 
  background-color: #f2f205; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
      .kerja-bagus {
        font-family: 'Raleway', sans-serif;
        
      }
      #copySuccess {
        display: none;
        color: green;
      }
      #iconSuccess {
        display: none;
        font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 700,
  'opsz' 48
      }
   #file-input {
     font-family: 'Ysabeau Infant', sans-serif;
     cursor: pointer; 
   }
      #media-container {
        font-family: 'Quicksand', sans-serif;
        font-size: 50%;
      }
      #text {
        font-family: 'Tsukimi Rounded', sans-serif;
        width: 500px;
        height: 300px;
        border-radius: 8px; 
        background-color: #ff7300; 
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
      #hexCode {
        font-family: 'Tsukimi Rounded', sans-serif;
       border-radius: 800px; 
        background-color: #000000; 
        color: #ffffff;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
      #password {
        font-family: 'Tsukimi Rounded', sans-serif;
       border-radius: 800px; 
        background-color: #000000; 
        color: #ffffff;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
  .buttonASD {
    font-family: 'Signika Negative', sans-serif;
    border-radius: 800px; 
    background-color: #00ff00;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    padding: 10px 20px;
    }
